$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// @import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

@import "variables.scss";

@import "bootstrap/bootstrap";

@import "components/navbar";
@import "components/panels";
@import "components/buttons";
@import "components/input-group";
@import "main/main";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

body {
  background-color: #f1f1f1;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.color-primary {
    color: $brand-primary;
}

.color-success {
    color: $brand-success;
}

.color-info {
    color: $brand-info;
}

.color-info-alt {
    color: $brand-info;
}

.color-warning {
    color: $brand-warning;
}

.color-danger {
    color: $brand-danger;
}

.color-dark {
    color: #242633
}

.color-white {
    color: #fff
}


.color-gray-darker {
    color: $gray-darker;
}

.color-gray-dark {
    color: $gray-dark;
}

.color-gray {
    color: $gray;
}

.color-gray-light {
    color: $gray-light;
}

.color-gray-lighter {
    color: $gray-lighter;
}
