div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl as nav')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') <%= _.slugify(_.humanize(appname)) %>

    div#navbar-main.navbar-collapse.collapse(collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in nav.menu', ng-class='{active: nav.isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}<% if(filters.auth) { %>

        li(ng-show='nav.isAdmin()', ng-class='{active: nav.isActive("/admin")}')
          a(href='/admin') Admin<% } %><% if(filters.auth) { %>

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='nav.isLoggedIn()', ng-class='{active: nav.isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='nav.isLoggedIn()', ng-class='{active: nav.isActive("/login")}')
          a(href='/login') Login

        li(ng-show='nav.isLoggedIn()')
          p.navbar-text Hello {{ nav.getCurrentUser().name }}

        li(ng-show='nav.isLoggedIn()', ng-class='{active: nav.isActive("/settings")}')
          a(href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='nav.isLoggedIn()', ng-class='{active: nav.isActive("/logout")}')
          a(href='', ng-click='nav.logout()') Logout<% } %>