<div class="page page-services">

    <div class="page-container">
        <header>
            <h2><strong>Services</strong> we provide</h2>
            <p class="lead">Adipisci ipsam nesciunt ullam reprehenderit quidem consequuntur excepturi obcaecati quae aut.</p>
        </header>

        <section class="services-container">
            <div class="row">
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-info btn-metro"><i class="fa fa-pencil"></i></a>
                        <div class="servie-desc">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-info-alt btn-metro">
                            <i class="fa fa-camera"></i>
                        </a>
                        <div class="servie-desc">
                            <h4>Photography</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-success btn-metro"><i class="fa fa-code"></i></a>
                        <h4>Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-warning btn-metro"><i class="fa fa-mobile-phone"></i></a>
                        <h4>Mobile App</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-danger btn-metro"><i class="fa fa-laptop"></i></a>
                        <h4>Website</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="service-item clearfix">
                        <a href="javascript:;" class="service-icon btn btn-primary btn-metro"><i class="fa fa-globe"></i></a>
                        <h4>Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.</p>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>